<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PesquisaEquipeController</servlet-name>
        <servlet-class>controller.PesquisaEquipeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisaEquipeController</servlet-name>
        <url-pattern>/PesquisaEquipeController</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>ManterEquipeController</servlet-name>
        <servlet-class>controller.ManterEquipeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManterEquipeController</servlet-name>
        <url-pattern>/ManterEquipeController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManterAtletaController</servlet-name>
        <servlet-class>controller.ManterAtletaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManterAtletaController</servlet-name>
        <url-pattern>/ManterAtletaController</url-pattern>
    </servlet-mapping>
         <servlet>
        <servlet-name>PesquisaAtletaController</servlet-name>
        <servlet-class>controller.PesquisaAtletaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisaAtletaController</servlet-name>
        <url-pattern>/PesquisaAtletaController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
